:root {
    --primary: hsl(0, 100%, 68%);
    --neutral: hsl(231, 7%, 65%);
    --neutral-light: hsl(207, 33%, 95%);
    --neutral-dark-1: hsl(230, 11%, 40%);
    --neutral-dark-2: hsl(230, 29%, 20%);
    --font-heading: "Barlow Condensed", Arial, sans-serif;
    --font-body: "Barlow", Arial, sans-serif;
}

body {
    margin: 0;
    padding: 40px 0 0 140px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin-right: 140px;
}

.nav-list {
    display: flex;
    height: fit-content;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    &__item {
        font-family: var(--font-heading);
        font-weight: bold;
        line-height: 50px;
        height: fit-content;
        margin: 0 20px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        a {
            text-decoration: none;
            color: var(--neutral-dark-2);
        }

        a:hover {
            text-decoration-line: underline;
        }

        &--login {
            a {
                color: var(--neutral);
            }
        }
    }

    &__separator {
        position: relative;
        width: 50px;
        height: 50px;
        margin: 0;
    }

    &__separator::after {
        font-size: 40px;
        line-height: 10px;
        position: absolute;
        top: 15px;
        left: 25px;
        content: "\00B7";
        color: var(--neutral-light);
    }
}

.nav-button {
    display: none;
    width: 24px;
    height: 16px;
    cursor: pointer;
    &::after {
        content: url(/images/icon-hamburger.svg);
    }

    &--open-nav::after {
        content: url(/images/icon-close.svg);
    }
}

.background-graphic {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%;
    height: 365px;
    border-bottom-left-radius: 40px;
    background-color: var(--neutral-light);
}

main {
    margin-top: 100px;
}

.image-wrapper {
    position: fixed;
    top: 145px;
    left: 53.5%;
    overflow: hidden;
    white-space: nowrap;
    img {
        width: 950px;
        height: auto;
    }
}

.main-wrapper {
    margin: 40px 0;
}

.product-title {
    font-family: var(--font-heading);
    text-transform: uppercase;
    &__new {
        font-weight: bold;
        margin-right: 15px;
        padding: 3px 12px;
        color: var(--neutral-light);
        border-radius: 15px;
        background-color: var(--neutral-dark-2);
    }

    &__title {
        letter-spacing: 5px;
        color: var(--neutral);
    }
}

h1 {
    font-family: var(--font-heading);
    font-size: 4em;
    max-width: 575px;
    margin: 20px 0;
    text-transform: uppercase;
    color: var(--neutral-dark-2);
}

.intro {
    font-family: var(--font-body);
    font-size: 1.2em;
    line-height: 30px;
    max-width: 300px;
    margin: 30px 0;
    color: var(--neutral-dark-1);
}

.demo {
    display: flex;
    align-items: center;
    margin-top: 50px;
    &__button {
        font-family: var(--font-heading);
        font-size: 1.1em;
        font-weight: bold;
        margin-right: 30px;
        padding: 15px 30px;
        transition: background-color 0.3s;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--neutral-light);
        border: 0;
        border-radius: 5px;
        background-color: var(--primary);
    }

    &__button:hover {
        cursor: pointer;
        background-color: hsl(0, 100%, 75%);
    }

    &__description {
        font-family: var(--font-heading);
        letter-spacing: 5px;
        text-transform: uppercase;
        color: var(--neutral);
    }
}

footer {
    margin: 100px 40px 0 0;
}

.attribution {
    font-family: var(--font-body);
    font-size: 11px;
    margin: 50px auto;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}

@media only screen and (max-width: 1400px) {
    .image-wrapper {
        right: -260px;
        left: inherit;
    }
}

@media only screen and (max-width: 1300px) {
    body {
        padding-left: 30px;
    }

    h1 {
        font-size: 3em;
        max-width: 400px;
    }
}

@media only screen and (max-width: 1100px) {
    .image-wrapper {
        img {
            width: 700px;
        }
    }
}

// Mobile
@media only screen and (max-width: 900px) {
    nav {
        margin-right: 30px;
    }

    .nav-list {
        position: absolute;
        z-index: 1;
        top: 100px;
        left: 50%;
        display: none;
        flex-direction: column;
        margin-left: -150px;
        padding: 10px 0;
        background-color: #fff;
        box-shadow: 0 0 5px hsla(0, 0%, 19%, 0.219);
        &--open {
            display: flex;
        }

        &__item {
            line-height: 40px;
            width: 300px;
            margin: 0;
        }

        &__separator {
            height: 20px;
            background-color: #fff;
        }

        &__separator::after {
            top: 10px;
            left: 25px;
            width: 250px;
            content: "";
            border-bottom: 1px solid #ddd;
        }
    }

    .nav-button {
        display: block;
    }

    .background-graphic {
        height: 575px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .image-wrapper {
        position: relative;
        top: inherit;
        right: inherit;
        order: 1;
        width: 100%;
        height: 400px;
        img {
            position: absolute;
            left: -25px;
            width: 700px;
        }
    }

    .main-wrapper {
        order: 2;
        padding-right: 30px;
    }

    h1 {
        font-size: 2.5em;
        margin: 10px 0;
    }

    footer {
        margin-top: 0;
    }
}

@media only screen and (max-width: 500px) {
    .background-graphic {
        height: 475px;
    }

    .image-wrapper {
        height: 242px;
        img {
            left: -20px;
            width: 500px;
        }
    }

    .product-title {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        &__new {
            width: fit-content;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }

    .intro {
        margin: 20px 0;
    }

    .demo {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-top: 20px;
        text-align: center;
        &__button {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    .attribution {
        text-align: left;
    }
}
