:root {
    --primary: hsl(0, 100%, 68%);
    --neutral: hsl(231, 7%, 65%);
    --neutral-light: hsl(207, 33%, 95%);
    --neutral-dark-1: hsl(230, 11%, 40%);
    --neutral-dark-2: hsl(230, 29%, 20%);
    --font-heading: "Barlow Condensed", Arial, sans-serif;
    --font-body: "Barlow", Arial, sans-serif;
}

body {
    margin: 0;
    padding: 30px 0 0 140px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin-right: 140px;
}

.nav-list {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    &__item {
        font-family: var(--font-heading);
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        a {
            display: block;
            width: 100px;
            text-decoration: none;
            color: var(--neutral-dark-2);
        }

        &--login {
            a {
                color: var(--neutral);
            }
        }
    }
}

main {
    display: flex;
    justify-content: flex-start;

    margin-top: 100px;
}

.image-wrapper {
    position: fixed;
    top: 18%;
    right: 0;
    left: 53.5%;
    overflow: hidden;
    white-space: nowrap;
    img {
        width: 900px;
        height: auto;
    }
}

.main-wrapper {
    margin: 40px 0;
}

.product-title {
    font-family: var(--font-heading);
    text-transform: uppercase;
    &__new {
        font-weight: bold;
        margin-right: 15px;
        padding: 3px 12px;
        color: var(--neutral-light);
        border-radius: 15px;
        background-color: var(--neutral-dark-2);
    }

    &__title {
        letter-spacing: 5px;
        color: var(--neutral);
    }
}

h1 {
    font-family: var(--font-heading);
    font-size: 4em;
    width: 575px;
    margin: 20px 0;
    text-transform: uppercase;
    color: var(--neutral-dark-2);
}

.intro {
    font-family: var(--font-body);
    font-size: 1.2em;
    line-height: 30px;
    width: 300px;
    margin: 30px 0;
    color: var(--neutral-dark-1);
}

.demo {
    display: flex;
    align-items: center;
    margin-top: 50px;
    &__button {
        font-family: var(--font-heading);
        font-size: 1.1em;
        font-weight: bold;
        margin-right: 30px;
        padding: 15px 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--neutral-light);
        border: 0;
        border-radius: 5px;
        background-color: var(--primary);
    }

    &__description {
        font-family: var(--font-heading);
        letter-spacing: 5px;
        text-transform: uppercase;
        color: var(--neutral);
    }
}

footer {
    margin: 50px 0;
}

.attribution {
    font-family: var(--font-body);
    font-size: 11px;
    margin: 50px auto;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}
