:root {
    --primary: hsl(0, 100%, 68%);
    --neutral: hsl(231, 7%, 65%);
    --neutral-light: hsl(207, 33%, 95%);
    --neutral-dark-1: hsl(230, 11%, 40%);
    --neutral-dark-2: hsl(230, 29%, 20%);
    --font-heading: "Barlow Condensed", Arial, sans-serif;
    --font-body: "Barlow", Arial, sans-serif;
}

body {
    margin: 0;
    padding: 40px 0 0 140px;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 140px;
}

.nav-button {
    display: none;
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style-type: none;
}

.nav-list__item {
    font-family: var(--font-heading);
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-list__item a {
    display: block;
    width: 100px;
    text-decoration: none;
    color: var(--neutral-dark-2);
}

.nav-list__item--login a {
    color: var(--neutral);
}

main {
    margin-top: 100px;
}

.image-wrapper {
    position: fixed;
    top: 145px;
    left: 53.5%;
    overflow: hidden;
    white-space: nowrap;
}

.image-wrapper img {
    width: 950px;
    height: auto;
}

.main-wrapper {
    margin: 40px 0;
}

.product-title {
    font-family: var(--font-heading);
    text-transform: uppercase;
}

.product-title__new {
    font-weight: bold;
    margin-right: 15px;
    padding: 3px 12px;
    color: var(--neutral-light);
    border-radius: 15px;
    background-color: var(--neutral-dark-2);
}

.product-title__title {
    letter-spacing: 5px;
    color: var(--neutral);
}

h1 {
    font-family: var(--font-heading);
    font-size: 4em;
    max-width: 575px;
    margin: 20px 0;
    text-transform: uppercase;
    color: var(--neutral-dark-2);
}

.intro {
    font-family: var(--font-body);
    font-size: 1.2em;
    line-height: 30px;
    max-width: 300px;
    margin: 30px 0;
    color: var(--neutral-dark-1);
}

.demo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
}

.demo__button {
    font-family: var(--font-heading);
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 30px;
    padding: 15px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--neutral-light);
    border: 0;
    border-radius: 5px;
    background-color: var(--primary);
}

.demo__description {
    font-family: var(--font-heading);
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--neutral);
}

footer {
    margin: 100px 40px 0 0;
}

.attribution {
    font-family: var(--font-body);
    font-size: 11px;
    margin: 50px auto;
    text-align: center;
}

.attribution a {
    color: #3e52a3;
}

@media only screen and (max-width: 1400px) {
    .image-wrapper {
        right: -260px;
        left: inherit;
    }
}

@media only screen and (max-width: 1300px) {
    body {
        padding-left: 30px;
    }
    h1 {
        font-size: 3em;
        max-width: 400px;
    }
}

@media only screen and (max-width: 1100px) {
    .image-wrapper img {
        width: 700px;
    }
}

@media only screen and (max-width: 900px) {
    nav {
        margin-right: 30px;
    }
    .nav-list {
        position: fixed;
        z-index: 1;
        top: 100px;
        left: 50%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .nav-list__item a {
        line-height: 50px;
        width: 300px;
        margin-left: -150px;
        background-color: #fff;
    }
    .nav-button {
        display: block;
    }
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .image-wrapper {
        position: relative;
        top: inherit;
        right: inherit;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        height: 400px;
    }
    .image-wrapper img {
        position: absolute;
        left: -25px;
        width: 700px;
    }
    .main-wrapper {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding-right: 30px;
    }
    h1 {
        font-size: 2.5em;
        margin: 10px 0;
    }
    footer {
        margin-top: 0;
    }
}

@media only screen and (max-width: 500px) {
    .image-wrapper {
        height: 232px;
    }
    .image-wrapper img {
        left: -20px;
        width: 480px;
    }
    .product-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .product-title__new {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .intro {
        margin: 20px 0;
    }
    .demo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin-top: 20px;
        text-align: center;
    }
    .demo__button {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .attribution {
        text-align: left;
    }
}
